<div class="uk-child-width-1-4@s panel uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div>
                        <img class="img" src="..\assets\home\imag1.png" alt="logo Application">
                </div> 
                <article class="uk-article">

                        <h3 class="uk-article-title uk-button uk-button-text titre"><a class="uk-link-reset" href="">Aidé générale</a></h3>
                    
                        <p class="uk-article-meta">Written by <a href="#">AL AGAD Hicham</a> on 30 Mai 2019. Posted in <a href="#">github</a></p>
                    
                        <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    
                        <div class="uk-grid-small uk-child-width-auto" uk-grid>
                            <div>
                                <a class="uk-button uk-button-text" href="#">Read more</a>
                            </div>
                            <div>
                                <a class="uk-button uk-button-text" href="#">5 Comments</a>
                            </div>
                        </div>
                    
                    </article>
            </div>
        </div>
        <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <div>
                            <img class="img" src="..\assets\home\imag2.png" alt="logo Application">
                    </div>  
                    <article class="uk-article">

                            <h6 class="uk-article-title uk-button uk-button-text titre" ><a class="uk-link-reset" href="">C'est quoi un fichier logg</a></h6>
                        
                            <p class="uk-article-meta">Written by <a href="#">AL AGAD Hicham</a> on 30 Mai 2019. Posted in <a href="#">github</a></p>
                        
                            <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                <div>
                                    <a class="uk-button uk-button-text" href="#">Read more</a>
                                </div>
                                <div>
                                    <a class="uk-button uk-button-text" href="#">5 Comments</a>
                                </div>
                            </div>
                        
                        </article>
                </div>
            </div> <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <div>
                                <img class="img" src="..\assets\home\imag7.png" alt="logo Application">
                        </div>  
                        <article class="uk-article">

                                <h1 class="uk-article-title uk-button uk-button-text titre"><a class="uk-link-reset" href="">Solution existe</a></h1>
                            
                                <p class="uk-article-meta">Written by <a href="#">AL AGAD Hicham</a> on 30 Mai 2019. Posted in <a href="#">github</a></p>
                            
                                <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            
                                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                    <div>
                                        <a class="uk-button uk-button-text" href="#">Read more</a>
                                    </div>
                                    <div>
                                        <a class="uk-button uk-button-text" href="#">5 Comments</a>
                                    </div>
                                </div>
                            
                            </article>
                    </div>
                </div> <div>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                            <div>
                                    <img class="img" src="..\assets\home\imag4.png" alt="logo Application">
                            </div>    
                            <article class="uk-article">

                                    <h1 class="uk-article-title uk-button uk-button-text titre"><a class="uk-link-reset" href="">Nos rélisation</a></h1>
                                
                                    <p class="uk-article-meta">Written by <a href="#">AL AGAD Hicham</a> on 30 Mai 2019. Posted in <a href="#">github</a></p>
                                
                                    <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                
                                    <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                        <div>
                                            <a class="uk-button uk-button-text" href="#">Read more</a>
                                        </div>
                                        <div>
                                            <a class="uk-button uk-button-text" href="#">5 Comments</a>
                                        </div>
                                    </div>
                                
                                </article>
                        </div>
                    </div>
    </div>



    <div class="uk-child-width-1-1@s pane uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <div>
                            <img class="gif-image-home" src="..\assets\home\animated-gif-logs-ui-optimized .gif" alt="logo Application">
                    </div> 
                    <article class="uk-article">

                            <h1 class="uk-article-title uk-button uk-button-text titre"><a class="uk-link-reset" href="" style="text-align: center">Vésion sur mon stats</a></h1>
                        
                            <p class="uk-article-meta">Written by <a href="#">AL AGAD Hicham</a> on 30 Mai 2019. Posted in <a href="#">github</a></p>
                                                
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                <div>
                                    <a class="uk-button uk-button-text" href="#">Read more</a>
                                </div>
                                <div>
                                    <a class="uk-button uk-button-text" href="#">5 Comments</a>
                                </div>
                            </div>
                        
                        </article>                </div>
            </div>
     <div>
