<!-- 

<div class="" style="text-align: center">
 <br>
</div>


<div class="container">
    <div class="panel-group">
      <div class="panel panele1 panel-info">
        <div class="panel-heading" id="flip2">Actions</div>
        <div class="panel-body" id="panel2">
            <input class="form-control in col-sm-10" type="text" [(ngModel)]="motCle" />
            <button class="uk-button uk-button-text col-sm-2" style="color: aqua;" (click)="chercher()">rechercher</button>
            <input class="form-control in col-sm-10" type="text" [(ngModel)]="motCle" />
            <button class="uk-button uk-button-text col-sm-2" style="color: aqua;" (click)="chercher()">rechercher</button> <input class="form-control in col-sm-10" type="text" [(ngModel)]="motCle" />
            <button class="uk-button uk-button-text col-sm-2" style="color: aqua;" (click)="chercher()">rechercher</button>
          </div>
      </div>
      </div>
      </div>
<div class="uk-child-width-1-1@s" uk-grid>
    <div>
    
        <div class="uk-card back uk-card-default uk-card-small uk-card-body" >
               <p>
                <span class="uk-label uk-label-secondary">Fichier avec le nom:</span> {{fich?.fileName}}
              </p> 
              <p>
                <span class="uk-label uk-label-success">Type de ce fichier:</span>  {{fich?.fileType}}
              </p> 

              <div class="text" [innerHTML]="fichie"></div>
              
            </div>
        </div>
    </div>
    <div class="container">
  <div class="container">
  <div class="panel-group">
    <div class="panel pane panel-primary">
      <div class="panel-heading">Autre Informations</div>
      <div class="panel-body">
        <div >

            <div id="flip">Voir</div>
            <div id="panel" >
              <div >  
              <p>
                    Fichier avec le nom: {{fichier?.fileName}}
                  </p> 
                  <p>
                    Type de ce fichier: {{fichier?.fileType}}
                  </p>
                </div>
            </div>
     
      </div>
    </div>
    </div>
    </div>
  </div>
    <div class="container">
        <div class="panel-group">
          <div class="panel panell panel-primary">
            <div class="panel-heading">Choix de recherche</div>
            <div class="panel-body">
                   <div>     
                    <div id="flip1">Par</div>
                    <div id="panel1">
              <a class="uk-button uk-button-text">exception java</a>                   
                    </div>
                  </div>
                  <div>     
                      <div id="flip3">exception serveur</div>
                      <div id="panel3">
                <a class="uk-button uk-button-text">Apache</a><br>                   
                <a class="uk-button uk-button-text">Tomcat</a> <br>
                <a class="uk-button uk-button-text">Jboss</a> 
                      </div>
                    </div>
            </div>
          </div>
          </div>
          </div>
        </div>

 -->

 
<div class="row">
    <div class="col-md-4">
        <div class="container">
            <div class="panel-group">
              <div class="panel panell panel-primary">
                <div class="panel-heading" >Actions  <span id="flip2" uk-icon="triangle-down"></span></div>
                <div class="panel-body" id="panel2">
                   <div class="row" >
                      Estimation :<p> Ce fichier vient de serveur ServeurX/Java</p>
                      <div class="col-md-9">
                        <input type="text" class="form-control" [(ngModel)]="recherche" name="recherche" id="recherche"> 
                        <input id="myInput" type="text" placeholder="Search..">

                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-primary btn-sm" (click)="rechercherManuel()">Rechercher</button>
                      </div>
                   </div>

                   <div class="row">
                   <p> Fréquement utilisé: </p>
                    <div class="col-md-9">
                      <select name="" id="" class="form-control">
                        <option value="">--Ensenble des mots sera utiliser selon les besoins--</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary btn-sm">Rechercher</button>
                    </div>
                 </div>

                </div>
              </div>
              </div>
              </div>

              <div class="container">
                  <div class="panel-group">
                    <div class="panel panell panel-primary">
                      <div class="panel-heading" >Choix de recherche  <span id="flip4" uk-icon="triangle-down"></span></div>
                      <div class="panel-body" id="panel4">
                             <div>    
                              <div id="flip1">Par  <span uk-icon="triangle-down"></span></div>
                              <div id="panel1">
                        <a class="uk-button uk-button-text">exception java</a>                   
                              </div>
                            </div>
                            <div>     
                                <div id="flip3">exception serveur  <span  uk-icon="triangle-down"></span>
                                
                                </div>
                                <div id="panel3">
                          <a class="uk-button uk-button-text">Apache</a><br>                   
                          <a class="uk-button uk-button-text">Tomcat</a> <br>
                          <a class="uk-button uk-button-text">Jboss</a> 
                                </div>
                              </div>
                      </div>
                    </div>
                    </div>
                    </div>
             <div class="container">
                  <div class="panel-group">
                    <div class="panel pane panel-primary">
                      <div class="panel-heading" >Autre Informations sur ce fichier <span id="flip5" uk-icon="triangle-down"></span></div>
                      <div class="panel-body" id="panel5">
                        <div >
                
                            <div id="flip">Voir plus <span id="flip5" uk-icon="triangle-down"></span></div>
                            <div id="panel" >
                              <div >  
                              <p>
                                    Fichier avec le nom: {{fichier?.fileName}}
                                  </p> 
                                  <p>
                                    Type de ce fichier: {{fichier?.fileType}}
                                  </p>
                                  <p>
                                      date d'action: {{fichier?.currrent}}
                                    </p>
                                </div>
                            </div>
                     
                      </div>
                    </div>
                    </div>
                    </div>
                  </div>
                  </div>
    <div class="col-md-8">
        <div class="panel">

            <div class="container">
                <div class="panel-group">
                  <div class="panel panell panel-danger">
                    <div class="panel-heading">Fichier logg transformer en format <strong>.txt</strong></div>
                    <div class="panel-body" >
                      <textarea id="myTable" class="text form-control" style="font-size: 14px;" disabled="disabled" rows="15" cols="136" [innerHTML]="fichie">
                      </textarea>
                    </div>
                    <br>

                   
                    <div>
                      <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                          
                            <tr>
                              <th>Mot Clé: <input type="text" name="motCle"/></th><th>Date</th><th>Serveur</th><th>Occurence</th>
                            </tr>

                          
                        </thead>
                        <tbody>
                      
  
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Mot Clé: <input type="text" name="motCle"/></th><th>Date</th><th>Serveur</th><th>Occurence</th>
                              </tr>
                        </tfoot>
                      </table>

                      <h3 class="first">Addons</h3>
                      <div class="ui-g-12 ui-md-4">
                        <div class="ui-inputgroup">
                            <button pButton type="button" icon="pi pi-check" class="ui-button-success"></button>    
                            <input type="text" pInputText placeholder="Vote">   
                            <button pButton type="button" icon="pi pi-close" class="ui-button-danger"></button>      
                        </div>
                    </div>           
                    </div>
                  </div>
                  </div>
                  </div>

        </div>
    </div>
</div>


