

<div class="col-sm-12 row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 row">
      <button class="uk-button uk-button-text col-sm-2" style="color: grey;" (click)="chercher()">Chercher</button>
      <input class="form-control in col-sm-10" type="text" [(ngModel)]="motCle" />
  </div>
</div>
<div class="" style="text-align: center">
    <h2>Liste des fichier storer</h2>
    <button class="uk-button titreAfiiche uk-button-text col-sm-2" style="color: grey;" (click)="chercher()">Voir tous les fichiers</button>
</div>          

          <div class="row">
              <div class="col-md-4" *ngFor="let fichier of (pageFichiers?.content)| paginate: { itemsPerPage: 9, currentPage: p }">
                  <div class="panel panell panel-primary" >
                      <div class="panel-heading">{{fichier.fileName}}</div>
                      <div class="panel-body">
                          <p>
                              <span class="uk-label uk-label-secondary">Fichier avec le nom:</span> {{fichier.fileName}}
                          </p> 
                          <p>
                              <span class="uk-label uk-label-warning">Fichier sous numéro:</span> {{fichier.id}}
                          </p>
                          <p>
                              <span class="uk-label uk-label-success">Type de ce fichier:</span>  {{fichier.fileType}}
                          </p>
                           </div> 
                           <div class="card-footer">
                              <small class="text-muted">{{fichier.currrent}}</small>
                            </div>
                      </div>
              </div>         
          </div>  

    <pagination-controls (pageChange)="p = $event"></pagination-controls>