/* .footerCard{
    height: 30px;
} */
.uk-badge{
    width: 150px;
}
.footer{
    height: 200px;
}
.card{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: floralwhite;
}

.imgSlide{
    
    width: 200px;
    height: 200px;
}

